html {
    width: 60%;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    font-size: 16px;
    background-color: #FFFFFF;
}

body {
    height: 100%;
    min-height: 100%;
    line-height: 1.75;
    background-color: #FFFFFF;
}

table, th, td {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

input[type=submit], button {
    cursor: pointer;
    cursor: hand;
}

a:link:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: underline;
    cursor: pointer;
    cursor: hand;
}

.panel {
    text-align: center;
    overflow: auto;
    border: 5px double #000000;
    padding: 1px;
    height: 50%;
    width: 100%;
}

.smallBtn {
    border: none;
    background-color: white;
    font-size: 8px;
    padding: none;
}

@media(max-width: 900px) {
    html {
        font-size: 14px !important;
        width: 80% !important;
    }
}

@media(max-width: 480px) {
    html {
        font-size: 12px !important;
        width: 90% !important;
    }
}

@media(max-width: 320px) {
    html {
        font-size: 12px !important;
        width: 100% !important;
    }
}